.pages-links {
  display: flex;
  justify-content: center;
}
.pages-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pages-links ul li {
  margin: 20px;
}
.pages-links ul li a {
  text-decoration: none;
  color: red;
}
